.pf-v6-c-table.application-list-table tr > * {
  max-width: none;
}

.pf-v6-c-table.application-list-table tbody > tr > * {
  vertical-align: middle;
}

.pf-v6-c-table.application-list-table tbody > tr > td.pf-v6-c-table__toggle {
  padding-bottom: var(--pf-v6-c-table__button--PaddingBlockEnd);
}

.pf-v6-c-table.application-list-table tbody > tr > td.pf-v6-c-table__toggle .pf-v6-c-button {
  margin-top: 0;
}

.pf-v6-c-table.application-list-table table.expanded-content tr > th {
  padding-left: 0;
  font-weight: bold;
}

.pf-v6-c-table.application-list-table table.expanded-content tr > td {
  padding-left: var(--pf-t--global--spacer--xl);
}

.pf-v6-c-table.application-list-table button.clickable-progress-bar {
  margin: calc(0px - var(--pf-t--global--spacer--sm))
    calc(0px - var(--pf-t--global--spacer--md));
  width: 100%;
  text-align: left;
}

.application-list-table .pf-v6-c-progress {
  --pf-v6-c-progress--GridGap: var(--pf-t--global--spacer--xs);
}
